namecheap_username   = "your-namecheap-username"
namecheap_api_user   = "your-namecheap-username"
namecheap_api_key    = "paste-api-key-here"
namecheap_client_ip  = "your.public.ip.address"
domain               = "wftxevents.com"
github_username      = "stoopered"
